.task-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 20em;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.task-info-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.task-contnet h2 {
  word-wrap: break-word;
  white-space: normal;
}

.task-content h4 {
  font-weight: 400;
}

.pointer-name,
.pointer-details {
  cursor: pointer;
}

input,
textarea {
  border: 1px solid #a8abbd;
  border-radius: 12px;
  padding: 0.7em;
  outline: none;
  font-size: 0.915rem;
  font-family: "Sen";
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

@media (max-width: 430px) {
  .task-info-wrapper {
    width: 16em;
  }
}

@media (max-width: 340px) {
  .task-info-wrapper {
    width: 14em;
  }
}
