.task-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task-name,
.task-date,
.task-details {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.create-task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-task-card h3 {
    margin: 0;
    line-height: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.input-primary {
  border: 1px solid #a8abbd;
  border-radius: 12px;
  padding: 0.7em;
  outline: none;
}

.input-primary[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.button-primary {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #3754db;
  border: 0;
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
}
.button-primary:hover {
  background-color: rgba(49, 83, 235, 0.854);
  transition: 0.6s ease;
}
.error {
  color: red;
  font-size: 1rem;
}
