.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.sign-up-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    
}
.sign-up-content h2 {   
    text-align: center;
    margin-bottom: 1em;
    color: #3754db;
    width: 100%;
}
.sign-up-content .inputs {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    width: 100%;
} 
.sign-up-content input{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
   
}
.sign-up-btn {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3754db;
    color: #fff;
    cursor: pointer;
    font-size: 0.825rem;
    width: 100%;
}
.sign-up-btn:hover {
    background-color: rgba(49, 83, 235, 0.854);
}
.sign-up-content .alt-sign {
    cursor: pointer;
    font-size: 0.975rem;
}
.sign-up-content .alt-sign:hover {
    color: #3754db;
}
.error-input {
    border-color: red;
}
.error {
    color: red;
    font-size: 0.900em;
}
.pass-validation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 1em;
    color: #989898;
}
.pass-validation p {
    font-size: 0.875rem;
}

.valid {
    color: green;
}
