.badge {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 12px;
  display: flex;
  cursor: default;
}

.badge p {
  font-weight: 700;
  font-size: 0.75rem;
  color: #808080;
  line-height: 0.875rem;
}

.badge.to-do {
  background-color: var(--light-blue);
}

.badge.in-progress {
  background-color: var(--light-yellow);
}

.badge.completed {
  background-color: var(--light-green);
}

.badge-pointer {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 12px;
}

.badge-pointer:hover {
  background-color: #e8e8e8;
  transition: 0.3s ease;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  left: 50%;
  gap: 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5em;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition:
    opacity 0.3s ease-in,
    transform 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-item {
  color: #808080;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 3px 7px;
  cursor: pointer;
}

.dropdown-item.to-do:hover {
  background-color: var(--light-blue);
}

.dropdown-item.in-progress:hover {
  background-color: var(--light-yellow);
}

.dropdown-item.completed:hover {
  background-color: var(--light-green);
}

.dropdown-item:hover {
  background-color: #e8e8e8;
  transition: 0.3s ease-in;
}

@media (max-width: 550px) {
  .dropdown-menu {
    flex-wrap: wrap;
  }
  .dropdown-item {
    text-align: center;
  }
}

@media (max-width: 390px) {
  .badge p {
    font-size: 0.7rem;
  }
}
